<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ChallengeDAO-mapper">
	<!-- 도전과제 생성 -->
	<insert id="insertChallenge" parameterType="ChallengeVO">
		INSERT INTO CHALLENGE
		(C_NUM, CONTENT, TITLE, LIMIT_MEMORY, LIMIT_TIME, USER_NUM)
		VALUES 
		(CHALLENGE_NUM_SEQ.nextval, #{content}, #{title}, #{limitMemory}, #{limitTime}, #{userNum})
		<selectKey order="AFTER" keyProperty="cNum" resultType="long">
			SELECT CHALLENGE_NUM_SEQ.currval FROM dual
		</selectKey>
	</insert>
	
	<!-- 도전과제 결과 생성	 -->
	<insert id="insertChallengeResult" parameterType="ChallengeResultVO">
		INSERT INTO challenge_result
			(result_num, 
			c_num, 
			user_num, 
			result_comment, 
			status, 
			code, 
			used_memory, 
			processing_time)
		VALUES
			(RESULT_NUM_SEQ.nextval,  
			#{cNum}, 
			#{userNum}, 
			#{resultComment}, 
			#{status}, 
			#{code}, 
			#{usedMemory}, 
			#{processingTime} )
		<selectKey order="AFTER" keyProperty="resultNum" resultType="long">
			SELECT RESULT_NUM_SEQ.currval FROM dual
		</selectKey>
	</insert>
<!-- 도전과제 테스트 케이스 생성	 -->
	<insert id="insertTestCase">
		INSERT INTO challenge_case
	    	(case_num, 
	    	c_num, 
	    	input, 
	    	output, 
	    	user_num)
		VALUES
	    	(CASE_NUM_SEQ.nextval, 
	    	#{cNum}, 
	    	#{input}, 
	    	#{output}, 
	    	#{userNum} )
    	<selectKey order="AFTER" keyProperty="caseNum" resultType="long">
    		SELECT CASE_NUM_SEQ.currval FROM dual
    	</selectKey>
	</insert>
	<!-- 도전과제 row 1개 열람	 -->
	<select id="selectOne" parameterType="hashmap" resultType="ChallengeVO">
		SELECT 
		    c_num AS "cNum",
		    content,
		    title,
		    limit_memory AS "limitMemory",
		    limit_time AS "limitTime" ,
		    user_num AS "userNum",
		    pass_num AS "passNum",
		    created_at AS "createdAt",
		    updated_at AS "updatedAt"   
		FROM challenge
		WHERE c_num = #{cNum}
	</select>
	<!-- 도전과제 row 1개 열람	 -->
	<select id="selectOneChallenge" parameterType="hashmap" resultType="ChallengeVO">
		SELECT 
		    challenge.c_num AS "cNum",
		    challenge.content,
		    challenge.title,
		    challenge.limit_memory AS "limitMemory",
		    challenge.limit_time AS "limitTime" ,
		    challenge.user_num AS "userNum",
			app_user.username as "username",
		    "passer" as "passNum",
			 "challenger",
        	challenge.created_at AS "createdAt",
        	challenge.updated_at AS "updatedAt"    
		FROM challenge, app_user , (SELECT challenge.c_num, COUNT( DISTINCT (CASE WHEN challenge_result.status = 'S' THEN challenge_result.user_num ELSE NULL END)) "passer", COUNT(DISTINCT challenge_result.user_num ) "challenger"
				FROM challenge LEFT OUTER JOIN challenge_result
				ON challenge.c_num = challenge_result.c_num
				GROUP BY challenge.c_num ) pass	
		WHERE challenge.user_num  = app_user.user_num AND pass.c_num = challenge.c_num
		AND challenge.c_num = #{cNum}
	</select>
	<!-- 도전과제 목록 검색	 -->
	<select id="selectAllChallenge" parameterType="hashmap" resultType="ChallengeVO">
		SELECT *
			FROM (SELECT 
			    ROW_NUMBER() OVER (ORDER BY title asc) as "num" ,
			    challenge.c_num as "cNum" ,
			    content as "content",
			    title as "title",
			    limit_memory as "limitMemory",
			    limit_time as "limitTime",
			    challenge.user_num as "userNum",
			    app_user.username as "username",
			    "passer" as "passNum",
			    "challenger",
			    challenge.created_at as "createdAt",
			    challenge.updated_at as "updatedAt"
			FROM challenge, app_user, (SELECT challenge.c_num, COUNT( DISTINCT (CASE WHEN challenge_result.status = 'S' THEN challenge_result.user_num ELSE NULL END)) "passer", COUNT(DISTINCT challenge_result.user_num ) "challenger"
				FROM challenge LEFT OUTER JOIN challenge_result
				ON challenge.c_num = challenge_result.c_num
				GROUP BY challenge.c_num ) pass	
			WHERE challenge.user_num  = app_user.user_num AND pass.c_num = challenge.c_num
				<if test="types != null and keywords != null and types.size() > 0 and keywords.size() >0">
					
					<foreach collection="types" item="type" index="i" open="AND (" separator="or" close=")">						
						<foreach collection="keywords" item="keyword" separator="OR"  >
							<choose>
								<when test="type=='T'.toString()">
								    challenge.title like  '%' || #{keyword} || '%'					
								</when>
								<when test="type=='C'.toString()">
									challenge.content like  '%' || #{keyword} || '%'
								</when>
								<when test="type=='N'.toString()">
									app_user.username like  '%' || #{keyword} || '%'
								</when>
								<otherwise>1 = 0</otherwise>
							</choose>							 
						</foreach>
					</foreach>				
										
				</if>
			)
			WHERE "num" <![CDATA[ >= ]]>  #{startRowNum} 
			AND "num" <![CDATA[ <= ]]> #{endRowNum}
	</select>
	<!-- 자신이 작성한 도전과제들을 불러온다.	 -->
	<select id="selectOwnChallengeList" parameterType="long" resultType="ChallengeVO">
		SELECT 
			c_num as "cNum" ,
		    content as "content",
		    title as "title",
		    limit_memory as "limitMemory",
		    limit_time as "limitTime",
		    challenge.user_num as "userNum",
		    app_user.username as "username",
		    pass_num as "passNum",
		    challenge.created_at as "createdAt",
		    challenge.updated_at as "updatedAt"
		FROM challenge, app_user
			WHERE challenge.user_num  = app_user.user_num    
			AND challenge.user_num = #{userNum}
	</select>
	
	<!-- 도전과제 총 개수 -->
	<select id="getCountTotalChallenges" parameterType="hashmap" resultType="long">
		SELECT count(*)
		FROM Challenge, App_User
		WHERE challenge.user_num =
		app_user.user_num
		<if	test="types != null and keywords != null and types.size() > 0 and keywords.size() >0">
			<foreach collection="types" item="type" index="i" 
			open="AND ("
				separator="or" close=")">
				<foreach collection="keywords" item="keyword" open="(" separator="OR" close=")">
					<choose>
						<when test="type=='T'.toString()">
							challenge.title like '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							challenge.content like '%' || #{keyword} || '%'
						</when>
						<when test="type=='N'.toString()">
							app_user.username like '%' || #{keyword} || '%'
						</when>
						<otherwise>	1 = 0	</otherwise>
					</choose>
				</foreach>
			</foreach> 
		</if>
	</select>
	
	
	<!-- 도전과제 결과 보기 -->
	<select id="selectOneResult" parameterType="long" resultType="ChallengeResultVO">
		SELECT 
		    result_num AS "resultNum",
		    user_num AS "userNum" ,
		    result_comment AS "resultComment",
		    status ,
		    created_at AS "createdAt",
		    updated_at AS "updatedAt",
		    code,
		    c_num AS "cNum",
		    used_memory AS "usedMemory",
		    processing_time AS "processingTime"
		FROM challenge_result
		WHERE result_num = #{resultNum}
	</select>
	
	<!-- 1. 전체 도전과제 결과 보기 -->
	<!-- 2. 문제 내 전체 도전과제 결과 보기 -->
	<!-- 3. 문제에서 내가 제출한 도전과제 결과 보기 -->
	<select id="selectAllResult" parameterType="hashmap" resultType="ChallengeResultVO">
		SELECT *
			FROM (SELECT 
			        ROW_NUMBER() OVER(ORDER BY  created_at DESC) as num,
			        result_num AS "resultNum",
			        user_num AS "userNum" ,
			        result_comment AS "resultComment",
			        status ,
			        created_at AS "createdAt",
			        updated_at AS "updatedAt",
			        code,
			        c_num AS "cNum",
			        used_memory AS "usedMemory",
			        processing_time AS "processingTime"
			    FROM challenge_result
			    WHERE
			    	<if test="cNum != null">
			            challenge_result.c_num = #{cNum}
			            <if test="userNum != null">
					        AND challenge_result.user_num = #{userNum}
			            </if> 
			    	</if>
			    	 
			    )
			WHERE num <![CDATA[ >= ]]> 1 
			    AND num <![CDATA[ <= ]]> 10
	</select>
	
	<!-- 도전과제의 결과 중 가장 최근 과제 결과를 가져옴 -->
	<select id="getLastResult" parameterType="hashmap" resultType="ChallengeResultVO">
		SELECT *
		FROM (SELECT 
		        ROW_NUMBER() OVER(ORDER BY  created_at DESC) as num,
		        result_num AS "resultNum",
		        user_num AS "userNum" ,
		        result_comment AS "resultComment",
		        status ,
		        created_at AS "createdAt",
		        updated_at AS "updatedAt",
		        code,
		        c_num AS "cNum",
		        used_memory AS "usedMemory",
		        processing_time AS "processingTime"
		    FROM challenge_result   
		    WHERE challenge_result.c_num = #{cNum}
		    AND challenge_result.user_num = #{userNum}
		    )
		WHERE num = 1 
	</select>
	
	<!-- 1. 모든 도전과제의 모든 결과 개수를 가져옴 -->
	<!-- 2. 도전과제의 모든 결과 개수를 가져옴	 -->
	<select id="getCountTotalResult" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM challenge_result
		WHERE c_num = #{cNum}
	</select>
	<!-- 케이스 번호로 케이스 데이터 하나 열람 -->
	<select id="selectOneCase" parameterType="long" resultType="ChallengeCaseVO">
		SELECT 
		    case_num AS "caseNum",
		    c_num AS "cNum",
		    input,
		    output,
		    user_num AS "userNum",
		    created_at AS "createdAt",
		    updated_at AS "updatedAt"
		FROM  challenge_case
		WHERE case_num = #{caseNum}
	</select>
	<!-- 도전과제 내 모든 케이스를 가져옴	 -->
	<select id="selectAllCase" parameterType="long" resultType="ChallengeCaseVO">
		SELECT 
		    case_num AS "caseNum",
		    c_num AS "cNum",
		    input,
		    output,
		    user_num AS "userNum",
		    created_at AS "createdAt",
		    updated_at AS "updatedAt"
		FROM  challenge_case
		WHERE c_num = #{cNum}
	</select>
	<!-- 도전과제 내 모든 케이스를 가져옴(input,output제외) -->
	<select id="selectAllCaseMetaDatas" parameterType="long" resultType="ChallengeCaseVO">
		SELECT 
		    case_num AS "caseNum",
		    c_num AS "cNum",
		    user_num AS "userNum",
		    created_at AS "createdAt",
		    updated_at AS "updatedAt"
		FROM  challenge_case
		WHERE c_num = #{cNum}
	</select>
	
	<!-- 전체 랭킹의 개수 -->
	<select id="getCountTotalRank" parameterType="map" resultType="long">
		SELECT COUNT(*)
		FROM Challenge_result
		WHERE c_num = #{cNum}
		AND status = 'S'
	</select>
	
	<!-- 순서대로 일부 도전과제를 가져옴 -->
	<select id="selectAllRanks" parameterType="map" resultType="ChallengeResultVO">
		SELECT * 
			FROM (
			    SELECT 
			        ROW_NUMBER() OVER (ORDER BY
			        	<choose>
							<when test="type=='M'.toString()">
							used_memory
							</when>
							<when test="type=='T'.toString()">
							processing_time
							</when>
							<otherwise>
					        	processing_time							
							</otherwise>			        	
			        	</choose> 
			        asc) as "rankNum",
			        result_num as "resultNum",
			        result_comment as "resultComment",
			        cr.user_num as "userNum",
			        au.username as "username",
			        cr.used_memory as  "usedMemory",
			        cr.processing_time as "processingTime",
			        cr.c_num as "cNum",
			        cr.status as "status",
			        cr.created_at as "createdAt",
			        cr.updated_at as "updatedAt"
			    FROM Challenge_result cr, App_user au
			    WHERE cr.user_num = au.user_num
			    AND status= 'S'
			    AND cr.c_num = #{cNum}
			    ORDER BY "rankNum"		    
			)
			WHERE  "rankNum"  <![CDATA[ >= ]]>   #{startRowNum}
			AND  "rankNum" <![CDATA[ <= ]]> #{endRowNum}
	</select>
	
	<!-- 개인의 랭크를 검색	 -->
	<select id="selectOneRank" parameterType="hashmap" resultType="ChallengeResultVO">
		SELECT *
		FROM 
			(SELECT 
			    ROW_NUMBER() OVER (ORDER BY  
			    	<choose>
						<when test="type=='M'.toString()">
						"usedMemory"
						</when>
						<when test="type=='T'.toString()">
						"processingTime"
						</when>
						<otherwise>
				        	"processingTime"							
						</otherwise>			        	
		        	</choose> 
			    	asc) as "num",
			    "rankNum", 
			    "resultNum",
			     "resultComment",
			    "userNum", 
			    "username",
			    "usedMemory",
			    "processingTime",
			    "cNum",
			     "status",
			     "createdAt",
			     "updatedAt"
			FROM (
				    SELECT 
				        ROW_NUMBER() OVER (ORDER BY
				        	<choose>
								<when test="type=='M'.toString()">
								used_memory
								</when>
								<when test="type=='T'.toString()">
								processing_time
								</when>
								<otherwise>
						        	processing_time							
								</otherwise>			        	
				        	</choose> 
							 asc) as "rankNum",
				        result_num as "resultNum",
				        result_comment as "resultComment",
				        cr.user_num as "userNum",
				        au.username as "username",
				        cr.used_memory as  "usedMemory",
				        cr.processing_time as "processingTime",
				        cr.c_num as "cNum",
				        cr.status as "status",
				        cr.created_at as "createdAt",
				        cr.updated_at as "updatedAt"
				        
				    FROM Challenge_result cr, App_user au
				    WHERE cr.user_num = au.user_num    
				    AND status= 'S'
				    AND cr.c_num = #{cNum}
				    ORDER BY "rankNum"
				)
			WHERE  "userNum" = #{userNum}
			)
		WHERE "num" = 1
	</select>
	<!-- 핫한 문제 n개	 -->
	<select id="selectHotChallenge" resultType="hashmap" parameterType="long">
		SELECT * FROM(
		SELECT
		"pass".* ,
		ROW_NUMBER() OVER (ORDER BY "pass"."challenger" desc) "num"
		FROM(
		SELECT 
			challenge.c_num AS "cNum", 
			challenge.title AS "title",
			COUNT( DISTINCT (CASE WHEN challenge_result.status = 'S' THEN challenge_result.user_num ELSE NULL END)) "passer", 
			COUNT(DISTINCT challenge_result.user_num ) "challenger"
			FROM challenge LEFT OUTER JOIN challenge_result
			ON challenge.c_num = challenge_result.c_num
			GROUP BY challenge.c_num, challenge.title
			ORDER BY "challenger" desc, "passer" asc) "pass"
		)
		WHERE "num" <![CDATA[<= ]]> #{topNum}
	
	</select>
	<!-- 탑 랭커들을 불러옴	 -->
	<select id="selectTopRanker" parameterType="long" resultType="hashmap">
		SELECT * 
		FROM (
		SELECT 
		pass.*,
		row_number() over(order by "passedNum" desc) AS "num"
		FROM (
		SELECT 
		app_user.user_num AS "userNum", 
		app_user.username AS "username",
		COUNT(DISTINCT CASE WHEN challenge_result.status='S' then app_user.user_num ELSE null END) "passedNum"
		FROM APP_USER, CHALLENGE_RESULT
		WHERE APP_USER.user_num = challenge_result.user_num
		GROUP BY app_user.username, app_user.user_num		
		ORDER BY "passedNum"
		) pass )
		WHERE "num" <![CDATA[<=]]>  5
	
	</select>
	
	
	
	<!-- Update -->
	<!-- 도전과제 변경 -->
	<update id="updateChallenge" parameterType="ChallengeVO">
		UPDATE challenge
		SET 
		    content = #{content},
		    title = #{title},
		    limit_memory = #{limitMemory},
		    limit_time = #{limitTime},
		    updated_at = SYSTIMESTAMP,
		    user_num = #{userNum}
		WHERE c_num = #{cNum}
	</update>
	
	
	<!-- 도전과제 통과 수 증가 -->
	<update id="increaseChallengePassNum" parameterType="long">
		UPDATE challenge
		SET pass_num = pass_num +1
		WHERE c_num = #{cNum}
	</update>
	
	<!-- 도전과제 통과 수 갱신 -->
	<update id="updatedPassNum" parameterType="hashmap">
		UPDATE challenge
		SET pass_num = #{passNum},
		updated_at = SYSTIMESTAMP
		WHERE c_num = #{cNum}
	</update>
	
	<!-- 도전과제 결과 변경 -->
	<update id="updateChallengeResult" parameterType="ChallengeResultVO">
		UPDATE  challenge_result 
		SET 
		    user_num = #{userNum},
		    result_comment = #{resultComment},
		    status = #{status},
		    updated_at = SYSTIMESTAMP,
		    c_num = #{cNum},
		    used_memory = #{usedMemory},
		    processing_time = #{processingTime}
		WHERE result_num = #{resultNum}
	</update>
	<!-- 도전과제 테스트케이스 변경 -->
	<update id="updateChallengeCase" parameterType="ChallengeCaseVO">
		UPDATE challenge_case
		SET 
			c_num = #{cNum},
			input = #{input},
			output = #{output},
			user_num = #{userNum},
			updated_at = SYSTIMESTAMP
		WHERE case_num = #{caseNum}
	</update>

	<!-- Delete -->
	<!-- 도전과제 삭제 -->
	<delete id="deleteChallenge" parameterType="long">
		DELETE FROM challenge 
		WHERE c_num = #{cNum}
	</delete>
	
	<!-- 도전과제 결과 삭제 -->
	<delete id="deleteChallengeReseult" parameterType="long">
		DELETE FROM challenge_result
		WHERE result_num = #{resultNum}
	</delete>
	
	<!-- 도전과제 테스트케이스 삭제 -->
	<delete id="deleteChallengeCase" parameterType="long">
		DELETE FROM challenge_case
		WHERE case_num = #{caseNum}
	</delete>
	
	<!-- 도전과제에 포함된 모든 테스트케이스삭제 -->
	<delete id="deleteAllCase" parameterType="long">
		DELETE FROM challenge_case
		WHERE c_num = #{cNum} 
	</delete>
</mapper>


